#movie_poster{
  display:block;
  width:100%;
  height:300px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: left center;
  /*background-image:url('../temp/poster.jpeg');*/
}

.row{
  margin-right:0px !important;
}
.thumbnail {
  margin:20px;
  padding:40px;
  margin-bottom:0px;
  height:240px;
  /*margin:20px;*/
}
.disabled{

  text-decoration:line-through;

}
.label{
  box-shadow:0px 0px 10px #8e8e8e;
}
#nav_back{
  position:absolute;
  background-color:white;
  font-size:20px;
  padding:5px;
  width:50px;
  color:black;
  text-align:center;
}
#loading_message{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.2);
  background-image: url(loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
}
#loading{
  position:relative;
  width:100%;
  height:60px;
  background:linear-gradient(#FFFFFF,rgba(0,0,0,0.2));
  text-align:center;
  /*color:#969696;*/
  margin-top:10px;
  padding:10px;

}
#nav_back a{
  color:black !important;
}
#nav_back a:hover{
  color:black !important;
  text-decoration:none !important;
}

h1{
  border-bottom:1px solid #eee;
  padding-bottom:5px;
}
.movie_feed li{
  list-style-type: none;
  border-radius:10px;
  box-shadow:0px 0px 10px #BDBDBD;
  padding:10px;
  margin-top:20px;
  cursor:pointer;

}
.inline-list {
  height:100px;
}
.inline-list li{
  display:inline;

}
.inline-list ul{
  white-space:nowrap;
  overflow-x:hidden;
}
.inline-list ul:hover{
  overflow-x:auto;
}
.inline-list li div{
  display:inline-block;
  margin-left: 10px;
}

.movie_list_item{
  width:100%;
  background-color:red;
}

.small-thumbnail{
  width:50px;
  height:50px;
  display:block;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  border-radius:50px;
}

.label a:hover {
  text-decoration:none !important;
  text-decoration-line:none !important;
}

li{
  list-style: none;
}
td{
  width:auto;
}
.side-menu{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  padding:10px;
  background-color:#ffffff;
  overflow:scroll;
  padding-left:25px;
}
.toggle-menu{
  position:fixed;
  cursor:pointer;
  left:0;
  top:0;
  margin-left:8px;
  margin-top:8px;
}
#filter_sources{

}
