{{#each response}}
<a class='thumbnail' href='#show{{id}}'>
  <p>
    <img src="http://bundler.nusofthq.com/_img/{{posters.posters.0.small.url}}" style="float:left;width:120px;height:171px;margin-right:10px;background-size:contain;background-repeat:no-repeat;background-position:center center;background-color:#EEEEEE;" onerror="this.src='';this.style.backgroundImage='url(res/no_photo.png)'"/>
    <b>{{title}}</b>
  </p>
  <p>{{rating}}</p>
</a>
{{/each}}
<div id='loading'><img src='res/loading.gif' width=20/><br>load more</div>
