<div id="page">
  <a id="nav_back" href="#feed_movies">
    <i class="fa fa-arrow-left"></i>
  </a>
  <div id="movie_poster" style="background-image:url(http://bundler.nusofthq.com/_img/{{images.posters.0.large.url}})"></div>
  <div id="cont" style="padding:10px">
    <h1>{{basic_info.title}} ({{basic_info.release_year}})</h1>
    <small>{{formatTime basic_info.duration}}</small><br>
    <small>Rating: <b>{{basic_info.rating}}</b></small>

    <h2>Summary</h2>
    <p>{{basic_info.overview}}</p>

    <h2>Cast</h2>
    <span>{{inlineListGen cast}}</span>

    <h2>Directors</h2>
    <span>{{inlineListGen directors}}</span>

    <h2>Writers</h2>
    <span>{{inlineListGen writers}}</span>

    <h2>Watch Free</h2>
    <span>{{freeSources web=sources_free_web android=sources_free_android ios=sources_free_ios}}</span>

    <h2>Purchase</h2>
    <span>{{purchaseSources web=sources_purchase_web android=sources_purchase_android ios=sources_purchase_ios}}</span>

    <h2>Streaming</h2>
    <span>{{streamingSources web=sources_subscription_web android=sources_subscription_android ios=sources_subscription_ios}}</span>

    <h2>TV Everywhere</h2>
    <span>{{tveverywhereSources web=sources_tv_everywhere_web android=sources_tv_everywhere_android ios=sources_tv_everywhere_ios}}</span>
  </div><!--end cont-->
</div><!--end page-->
