<div id="page">
  <a id="nav_back" href="#feed_shows">
    <i class="fa fa-arrow-left"></i>
  </a>
  <div id="movie_poster" style="background-image:url(http://bundler.nusofthq.com/_img/{{images.posters.0.large.url}})"></div>
  <div id="cont" style="padding:10px">
    <h1>{{basic_info.title}}</h1>
    <small>Rating: <b>{{basic_info.rating}}</b></small>

    <h2>Summary</h2>
    <p>{{basic_info.overview}}</p>

    <h2>Cast</h2>
    <div>{{inlineListGen cast}}</div>

    <h2>Watch Free</h2>
    <div align='center'>{{freeEpisodeSources  episodes=episodes}}</div>

    <h2>All Episodes</h2>
    <div align='center'>{{episodeSources episodes=episodes}}</div>
  </div><!--end cont-->
</div><!--end page-->
